/* Body */
body {
    --scale: min(10vw / 16, 10vh / 9);
    --h-size: calc(var(--scale) * 160);
    --v-size: calc(var(--scale) * 90);
    --h-padding: calc(50vw - var(--scale) * 80);
    --v-padding: calc(50vh - var(--scale) * 45);
    background-color: #000;
    color: #FFF;
    text-align: center;
    width: calc(var(--scale) * 160);
    height: calc(var(--scale) * 90);
    padding: var(--v-padding) var(--h-padding);
    margin: 0;
    font-weight: 300;
    font-size: calc(var(--scale) * 2);
    user-select: none;
    -webkit-user-select: none;
}

/* Text */
@font-face {
    font-family: "Font";
    font-weight: 200;
    src: url(font/200.otf);
}
@font-face {
    font-family: "Font";
    font-weight: 300;
    src: url(font/300.otf);
}
@font-face {
    font-family: "Font";
    font-weight: 400;
    src: url(font/400.otf);
}
* {
    font-family: "Font";
}
*:not(svg text) {
    letter-spacing: calc(var(--scale) * .1);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1 {
    font-weight: 200;
    font-size: calc(var(--scale) * 6);
}
h2 {
    font-weight: 200;
    font-size: calc(var(--scale) * 5.4);
}
h3 {
    font-weight: 200;
    font-size: calc(var(--scale) * 4.8);
}
h4 {
    font-weight: 300;
    font-size: calc(var(--scale) * 4.2);
}
h5 {
    font-weight: 300;
    font-size: calc(var(--scale) * 3.6);
}
h6 {
    font-weight: 300;
    font-size: calc(var(--scale) * 3);
}

/* Step */
.step {
    transition-duration: .5s;
}
.step[invisible] {
    opacity: 0;
    pointer-events: none;
}

/* Slide */
center.step {
    background-color: #000;
    position: fixed;
    display: block;
    left: var(--h-padding);
    top: var(--v-padding);
    width: var(--h-size);
    height: calc(var(--v-size));
    cursor: none;
}
center.step[invisible] + center.step[invisible], [long-gone] {
    display: none !important;
}
center.step:not(.step-0, [invisible]) {
    cursor: none;
}
body[test-screen] center.step {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'><rect x='.05' y='.05' width='15.9' height='8.9' fill='%230000' stroke='%23FFF' stroke-width='.1'/><rect x='.25' y='.25' width='15.5' height='8.5' fill='%230000' stroke='%23FFF' stroke-width='.1'/><rect x='.3' y='.3' width='15.4' height='1.2' fill='url(%23testScreenGradientBW)'/><rect x='.3' y='7.5' width='15.4' height='1.2' fill='url(%23testScreenGradientRGB)'/><circle cx='3.3' cy='4.5' r='2.75' fill='%230000' stroke='%23FFF' stroke-width='.25'><animate attributeName='cx' values='3.3;6.8;3.3' dur='1.5s' begin='0s' repeatCount='indefinite' calcMode='spline' keySplines='.5 0 .5 1;.5 0 .5 1'/></circle><text x='12.7' y='2.5' fill='url(%23testScreenGradientText)' font-size='1' font-family='SF Pro Rounded' text-anchor='middle'>TEST-BILD<animate attributeName='y' values='2.5;5.7;2.5' dur='3s' begin='0s' repeatCount='indefinite' calcMode='spline' keySplines='.5 0 .5 1;.25 0 .25 1'/></text><text x='12.7' y='4' fill='url(%23testScreenGradientText)' font-size='1' font-family='SF Pro Rounded' text-anchor='middle'>TEST-BILD<animate attributeName='y' values='4;7.2;4' dur='3s' begin='0s' repeatCount='indefinite' calcMode='spline' keySplines='.25 0 .25 1;.5 0 .5 1'/></text><text x='12.7' y='5.7' fill='url(%23testScreenGradientText)' font-size='1' font-family='SF Pro Rounded' text-anchor='middle'>TEST-BILD<animate attributeName='y' values='5.7;2.5;5.7' dur='3s' begin='0s' repeatCount='indefinite' calcMode='spline' keySplines='.25 0 .25 1;.5 0 .5 1'/></text><text x='12.7' y='7.2' fill='url(%23testScreenGradientText)' font-size='1' font-family='SF Pro Rounded' text-anchor='middle'>TEST-BILD<animate attributeName='y' values='7.2;4;7.2' dur='3s' begin='0s' repeatCount='indefinite' calcMode='spline' keySplines='.5 0 .5 1;.25 0 .25 1'/></text><linearGradient id='testScreenGradientBW'><stop offset='0%' stop-color='%23FFF'/><stop offset='100%' stop-color='%23000'/></linearGradient><linearGradient id='testScreenGradientRGB'><stop offset='0%' stop-color='%23FF5699'/><stop offset='10%' stop-color='%23FF663C'/><stop offset='20%' stop-color='%23D68C00'/><stop offset='30%' stop-color='%23A8A400'/><stop offset='40%' stop-color='%2300BF28'/><stop offset='50%' stop-color='%2300B7A1'/><stop offset='60%' stop-color='%2300B0CF'/><stop offset='70%' stop-color='%2346A1FF'/><stop offset='80%' stop-color='%239B89FF'/><stop offset='90%' stop-color='%23EE3EFF'/><stop offset='100%' stop-color='%23FF5699'/></linearGradient><linearGradient id='testScreenGradientText' gradientUnits='userSpaceOnUse' x2='0' y1='1.5' y2='7.1'><stop offset='0%' stop-color='%23FF5699'/><stop offset='10%' stop-color='%23FF663C'/><stop offset='20%' stop-color='%23D68C00'/><stop offset='30%' stop-color='%23A8A400'/><stop offset='40%' stop-color='%2300BF28'/><stop offset='50%' stop-color='%2300B7A1'/><stop offset='60%' stop-color='%2300B0CF'/><stop offset='70%' stop-color='%2346A1FF'/><stop offset='80%' stop-color='%239B89FF'/><stop offset='90%' stop-color='%23EE3EFF'/><stop offset='100%' stop-color='%23FF5699'/></linearGradient></svg>");
    background-size: 100% 100%;
}

/* Button */
.button {
    background: linear-gradient(to right, #09E 40%, #0000 60%);
    color: #EEE !important;
    text-decoration: none;
    border: calc(var(--scale) / 6) solid #09E;
    border-radius: calc(var(--scale) * 1.25);
    outline: none;
    transition-duration: .5s;
    transition-property: background-position, border-color, box-shadow;
    background-size: 300% 100%;
    background-position: 100% 0;
    box-shadow: 0 0 0 0 #09E;
    display: inline-block;
    width: calc(var(--scale) * 32);
    padding: var(--scale);
    margin: calc(var(--scale) * 0) calc(var(--scale) * 1) calc(var(--scale) * 3)calc(var(--scale) * 1);
    font-size: calc(var(--scale) * 2);
    font-weight: 400;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}
.button:first-of-type {
    margin-top: calc(var(--scale) * 8);
}
.button:active {
    background-position: 0 0;
    border-color: #CCC;
    box-shadow: 0 0 20px 5px #09E;
}
@media (pointer: fine) {
    .button:hover {
        background-position: 0 0;
        border-color: #CCC;
        box-shadow: 0 0 calc(var(--scale) * 2) calc(var(--scale) * .5) #09E;
    }
}

/* SVG */
svg {
    background-color: #0000 !important;
}
svg text {
    letter-spacing: 0;
}

/* Code */
.code {
    text-align: left;
    font-weight: 400;
    line-height: 125%;
    font-size: calc(var(--scale) * 2.5);
    margin: 0;
}
.code, .code * {
    font-family: "Courier New";
}



/* START */

/* Slide 0 - Step 0 - Start */
.step-0:not([gone]) {
    pointer-events: all;
    cursor: default;
}
#step-0 {
    transition-duration: .5s;
}
.step-0[gone] #step-0 {
    transform: translateY(calc(var(--scale) * -30));
    opacity: 0;
}
#step-0-title {
    padding-top: calc(var(--scale) * 30);
}

/* Slide 1 - Step 1-2 - Titel */
#step-2-1 {
    margin-top: calc(var(--scale) * 10);
}
#step-2-1[invisible] {
    transform: translateX(calc(var(--scale) * -20));
}
#step-2-2[invisible] {
    transform: translateX(calc(var(--scale) * 20));
}
#step-2-js {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 10);
    top: calc(var(--v-padding) + var(--scale) * 30);
    height: calc(var(--scale) * 50);
}
#step-2-popular {
    position: fixed;
    right: calc(var(--h-padding) + var(--scale) * 10);
    top: calc(var(--v-padding) + var(--scale) * 30);
    height: calc(var(--scale) * 50);
}



/* DIE ENTSTEHUNG VON JAVASCRIPT */

/* Slide 2 - Step 3-5 - Interaktivität */
#step-3 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
    transition-property: transform, opacity;
}
.step-3[invisible] #step-3 {
    transform: translateY(calc(var(--scale) * -10));
}
.step-3[gone] #step-3 {
    transform: translateX(calc(var(--scale) * -30));
}
#step-4 {
    margin-top: calc(var(--scale) * 5);
}
#step-4[invisible] {
    transform: translateY(calc(var(--scale) * 5));
}
.step-3[gone] #step-4 {
    transform: translateX(calc(var(--scale) * 30));
}
#step-5 {
    margin-top: calc(var(--scale) * 5);
}
#step-5[invisible] {
    transform: translateY(calc(var(--scale) * 15));
}

/* Slide 3 - Step 6-9 - Mosaic */
#step-6-mosaic {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
    transition-property: transform, opacity;
}
.step-6[invisible] #step-6-mosaic {
    transform: translateX(calc(var(--scale) * 30));
}
#step-6-js-css {
    margin-top: calc(var(--scale) * 5);
    transition-duration: .5s;
    transition-property: transform, opacity;
}
.step-6[invisible] #step-6-js-css {
    transform: translateX(calc(var(--scale) * -30));
}
.step-6[gone] #step-6-js-css {
    transform: translateY(calc(var(--scale) * -12.5));
}
.step-7 {
    margin-top: calc(var(--scale) * 5);
    width: calc(var(--scale) * 40);
}
.step-7[invisible] {
    transform: translateY(calc(var(--scale) * -10));
}
.step-7 * {
    font-family: Serif;
}
.step-7 p {
    font-size: calc(var(--scale) * 3);
}
.step-7 a {
    color: #0AF;
}
.step-8 {
    background-image: linear-gradient(to bottom, #4D5 0%, #9FB 100%);
    border-radius: calc(var(--scale) * 100.5);
    color: #000;
    margin-top: calc(var(--scale) * 7);
    width: calc(var(--scale) * 35);
    padding: calc(var(--scale) * .5);
    font-size: calc(var(--scale) * 3.5);
    font-weight: 400;
    transition-duration: 1s;
}
.step-8 div {
    background-image: radial-gradient(ellipse at 25% -50%, #BFD 0%, #8FA 49%, #4D5 51%, #6E7 100%);
    background-size: 200% 100%;
    padding: calc(var(--scale) * 1);
    border-radius: calc(var(--scale) * 100);
}
.step-8[invisible] {
    transform: translateX(calc(var(--scale) * 20));
}
.step-8[gone] {
    filter: saturate(0);
}
#step-9-x {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 61);
    top: calc(var(--v-padding) + var(--scale) * 70);
    width: calc(var(--scale) * 38);
}

/* Slide 4 - Step 10-12 - Netscape Navigator */
#step-10 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-10[invisible] #step-10 {
    transform: translateY(calc(var(--scale) * 12.5));
}
#step-11 {
    transform: translateY(calc(var(--scale) * 5));
}
#step-11[invisible] {
    transform: translate(calc(var(--scale) * 20), calc(var(--scale) * 5)) !important;
}
#step-11[gone] {
    transform: translateY(0);
}
.step-10[gone] #step-11 {
    transform: translate(calc(var(--scale) * -24.3), calc(var(--scale) * -7.175));
}
#step-11-applet {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 55);
    top: calc(var(--v-padding) + var(--scale) * 35);
    height: calc(var(--scale) * 50);
}
#step-11-applet[gone] {
    transform: translateY(calc(var(--scale) * -10));
    opacity: 0;
}
#step-12[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-10[gone] #step-12 {
    transform: translate(calc(var(--scale) * -48.6), calc(var(--scale) * -14.35));
}
#step-12-js {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 60);
    top: calc(var(--v-padding) + var(--scale) * 35);
    height: calc(var(--scale) * 40);
}
#step-12-js[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}

/* Slide 5 - Step 13-14 - LiveScript */
.step-13 {
    background-color: #0000 !important;
    opacity: 1 !important;
}
.step-13:not([invisible]) {
    background-color: #000 !important;
}
#step-13-js {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-13[invisible] #step-13-js {
    transform: translate(calc(var(--scale) * 49.3), calc(var(--scale) * 14.35));
    opacity: 0;
}
.step-13[gone] #step-13-js {
    transform: translateY(calc(var(--scale) * 10.7));
}
#step-13-ls {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 60);
    top: calc(var(--v-padding) + var(--scale) * 35);
    height: calc(var(--scale) * 40);
}
.step-13[invisible] #step-13-ls {
    opacity: 0;
}
#step-14 {
    margin-top: calc(var(--scale) * 3.5);
}
#step-14[invisible] {
    transform: translateX(calc(var(--scale) * 20));
}
#step-14[gone] {
    transform: translateY(calc(var(--scale) * -10.7));
}

/* Slide 6 - Step 13-17 - Internet Explorer */
#step-15-ie {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-15[invisible] #step-15-ie {
    transform: translateY(calc(var(--scale) * 10.7));
}
#step-15-jscript {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
.step-15[invisible] #step-15-jscript {
    transform: translateY(calc(var(--scale) * -10.7));
}
#step-17 {
    margin-top: calc(var(--scale) * 3.5);
}
#step-17[invisible] {
    transform: translateY(calc(var(--scale) * 11.25));
}
#step-16-button {
    background-image: linear-gradient(to bottom, #4D5 0%, #9FB 100%);
    border-radius: calc(var(--scale) * 100.5);
    color: #000;
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 47.5);
    top: calc(var(--v-padding) + var(--scale) * 42.5);
    width: calc(var(--scale) * 35);
    padding: calc(var(--scale) * .5);
    font-size: calc(var(--scale) * 3.5);
    font-weight: 400;
}
#step-16-button div {
    background-image: radial-gradient(ellipse at 25% -50%, #BFD 0%, #8FA 49%, #4D5 51%, #6E7 100%);
    background-size: 200% 100%;
    padding: calc(var(--scale) * 1);
    border-radius: calc(var(--scale) * 100);
}
#step-16-button[invisible] {
    transform: translateX(calc(var(--scale) * -20));
}
#step-16-button[gone] {
    transform: translateY(calc(var(--scale) * -11.25));
    opacity: 0;
}
#step-16-animation {
    position: fixed;
    right: calc(var(--h-padding) + var(--scale) * 40);
    top: calc(var(--v-padding) + var(--scale) * 35);
    width: calc(var(--scale) * 35);
}
#step-16-animation[invisible] {
    transform: translateX(calc(var(--scale) * 20));
}
#step-16-animation[gone] {
    transform: translateY(calc(var(--scale) * -11.25));
    opacity: 0;
}
#step-17-graph {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 50);
    top: calc(var(--v-padding) + var(--scale) * 42.5);
    height: calc(var(--scale) * 40);
}

/* Slide 7 - Step 18-20 - ECMAScript */
.step-18[gone] h1 {
    transform: translateY(calc(var(--scale) * 10));
}
#step-18-1 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-18[invisible] #step-18-1 {
    transform: translateY(calc(var(--scale) * -10));
}
#step-18-2 {
    margin-top: calc(var(--scale) * 1.5);
    transition-duration: .5s;
}
.step-18[invisible] #step-18-2 {
    transform: translateY(calc(var(--scale) * -18.7));
}
#step-19-1 {
    margin-top: calc(var(--scale) * 5);
    transition-duration: .5s;
}
#step-19-1[invisible] {
    transform: translateX(calc(var(--scale) * 15));
}
#step-19-2 {
    margin-top: calc(var(--scale) * 1.5);
    transition-duration: .5s;
}
#step-19-2[invisible] {
    transform: translateX(calc(var(--scale) * -15));
}
#step-20 {
    margin-top: calc(var(--scale) * 5);
    transition-duration: .5s;
}
#step-20[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}

/* Slide 8 - Step 21-26 - ECMAScript 2 & 3 */
#step-21 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-21[invisible] #step-21 {
    transform: translateY(calc(var(--scale) * -10));
}
#step-23 {
    margin-top: calc(var(--scale) * 13.5);
}
#step-23[invisible] {
    transform: translateY(calc(var(--scale) * -10));
}
#step-22, #step-24, #step-25, #step-26 {
    margin-top: calc(var(--scale) * 3.5);
}
:is(#step-22, #step-24, #step-25, #step-26)[invisible] {
    transform: translateY(calc(var(--scale) * 10));
    opacity: 0;
}
.step-21[gone] #step-21{
    transform: translateX(calc(var(--scale) * -20));
}
.step-21[gone] #step-22{
    transform: translateX(calc(var(--scale) * 17));
}
.step-21[gone] #step-23{
    transform: translateX(calc(var(--scale) * -14));
}
.step-21[gone] #step-24{
    transform: translateX(calc(var(--scale) * 11));
}
.step-21[gone] #step-25{
    transform: translateX(calc(var(--scale) * -8));
}
.step-21[gone] #step-26{
    transform: translateX(calc(var(--scale) * 5));
}

/* Slide 9 - Step 27-30 - Firefox */
#step-27 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-27[invisible] #step-27 {
    transform: translateX(calc(var(--scale) * 20));
}
#step-27-firefox {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 55);
    top: calc(var(--v-padding) + var(--scale) * 20.5);
    height: calc(var(--scale) * 50);
    transition-duration: .5s;
}
.step-27[invisible] #step-27-firefox {
    transform: scale(0) rotate(90deg);
}
#step-28:not([invisible]) + #step-27-firefox {
    transform: scale(0) rotate(-90deg);
    opacity: 0;
}
#step-28 {
    margin-top: calc(var(--scale) * 3.5);
}
#step-28[invisible] {
    transform: translateX(calc(var(--scale) * 20));
}
.step-27[gone] #step-28 {
    transform: translateY(calc(var(--scale) * -10.6));
}
#step-29 {
    margin-top: calc(var(--scale) * 13.5);
}
#step-29[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-27[gone] #step-29 {
    transform: translateY(calc(var(--scale) * 21.2));
}
#step-30 {
    margin-top: calc(var(--scale) * 3.5);
}
#step-30[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-27[gone] #step-30 {
    transform: translateY(calc(var(--scale) * 10.6));
}

/* Slide 10 - Step 31-34 - Chrome */
#step-31 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-31[invisible] #step-31 {
    transform: translateY(calc(var(--scale) * 10.6));
}
#step-31-chrome {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 55);
    top: calc(var(--v-padding) + var(--scale) * 20.5);
    height: calc(var(--scale) * 50);
    transition-duration: .5s;
}
.step-31[invisible] #step-31-chrome {
    transform: scale(0) rotate(90deg);
}
#step-32:not([invisible]) + #step-31-chrome {
    transform: scale(0) rotate(-90deg);
    opacity: 0;
}
#step-32 {
    margin-top: calc(var(--scale) * 3.5);
}
#step-32[invisible] {
    transform: translateX(calc(var(--scale) * 20));
}
.step-31[gone] #step-32 {
    transform: translateY(calc(var(--scale) * -10.7));
}
#step-33-1 {
    margin-top: calc(var(--scale) * 12);
}
#step-33-1[invisible] {
    transform: translateX(calc(var(--scale) * 20));
}
#step-33-2 {
    margin-top: calc(var(--scale) * 1.5);
}
#step-33-2[invisible] {
    transform: translateX(calc(var(--scale) * -20));
}
#step-34 {
    margin-top: calc(var(--scale) * 5);
    line-height: 1.5;
}
#step-34[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}

/* Slide 11 - Step 35-37 - Edge */
#step-35 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-35[invisible] #step-35 {
    transform: translateY(calc(var(--scale) * 21.4));
}
.step-35[gone] #step-35 {
    transform: translateX(calc(var(--scale) * 25));
}
#step-36 {
    margin-top: calc(var(--scale) * 3.5);
}
#step-36[invisible] {
    transform: translateY(calc(var(--scale) * 16.2));
}
.step-35[gone] #step-36 {
    transform: translateX(calc(var(--scale) * 15));
}
#step-37 {
    margin-top: calc(var(--scale) * 3.5);
}
#step-37[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-35[gone] #step-37 {
    transform: translateX(calc(var(--scale) * 5));
}



/* SYNTAX UND BESONDERHEITEN */
/* Slide 12 - Step 38-39 - Objekt-Orientiert */
#step-38 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-38[invisible] #step-38 {
    transform: translateX(calc(var(--scale) * -25));
}
#step-39 {
    margin-top: calc(var(--scale) * 3.5);
}
#step-39[invisible] {
    transform: translateX(calc(var(--scale) * 25));
}
#step-39-code {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 62.5);
    top: calc(var(--v-padding) + var(--scale) * 30);
    width: calc(var(--scale) * 50);
}
#step-39-code[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}

/* Slide 13 - Step 40-44 - Ereignis-Modell */
#step-40 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-40[invisible] #step-40 {
    transform: translateY(calc(var(--scale) * -10));
}
.step-40[gone] #step-40 {
    transform: translateX(calc(var(--scale) * -25));
}
#step-41 {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
.step-41[invisible] #step-41 {
    transform: translateX(calc(var(--scale) * -25));
}
.step-41[gone] #step-41 {
    transform: translateY(calc(var(--scale) * -3.5));
}
#step-42 {
    margin-top: calc(var(--scale) * 3.5);
}
#step-42[invisible] {
    transform: translateX(calc(var(--scale) * 25));
}
.step-41[gone] #step-42 {
    transform: translateY(calc(var(--scale) * -7));
}
#step-43-1 {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
.step-43[invisible] #step-43-1 {
    transform: translateX(calc(var(--scale) * -25));
}
#step-43-2 {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
.step-43[invisible] #step-43-2 {
    transform: translateX(calc(var(--scale) * 25));
    opacity: 0;
}
#step-43-2[gone] {
    transform: translateX(calc(var(--scale) * 14.6));
}
#step-44-1 {
    background-color: #000;
    width: calc(var(--scale) * 50);
    text-align: left;
    padding-left: var(--scale);
    transform: translate(calc(var(--scale) * 36.8), calc(var(--scale) * -7.2));
}
#step-44-1[invisible] {
    transform: translate(calc(var(--scale) * 22.2), calc(var(--scale) * -7.2));
}
.step-43[invisible] #step-44-1 {
    transform: translate(calc(var(--scale) * 47.2), calc(var(--scale) * -7.2));
}
#step-44-2 {
    margin-top: calc(var(--scale) * -3.7);
}
#step-44-2[invisible] {
    transform: translateX(calc(var(--scale) * -14.6));
}

/* Slide 14 - Step 45-47 - Nur Ein Thread */
#step-45 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-45[invisible] #step-45 {
    transform: translateX(calc(var(--scale) * 25));
}
.step-45[gone] #step-45 {
    transform: translateX(calc(var(--scale) * 25));
}
#step-46 {
    margin-top: calc(var(--scale) * 3.5);
}
#step-46[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
#step-47-1 {
    margin-top: calc(var(--scale) * 8);
}
#step-47-1[invisible] {
    transform: translateX(calc(var(--scale) * -10));
}
#step-47-2 {
    margin-top: calc(var(--scale) * 3.5);
}
#step-47-2[invisible] {
    transform: translateX(calc(var(--scale) * 10));
}

/* Slide 15 - Step 48-52 - Keine Typisierung */
#step-48 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-48[invisible] #step-48 {
    transform: translateX(calc(var(--scale) * -25));
}
#step-50 {
    margin-top: calc(var(--scale) * 3.5);
}
#step-50[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-48[gone] #step-50 {
    transform: translateY(calc(var(--scale) * -10.7));
}
#step-52 {
    margin-top: calc(var(--scale) * 3.5);
}
#step-52[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-48[gone] #step-52 {
    transform: translateY(calc(var(--scale) * -21.4));
}
#step-49-code {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 62.5);
    top: calc(var(--v-padding) + var(--scale) * 50);
    width: calc(var(--scale) * 40);
    opacity: 1 !important;
}
#step-49-code a {
    text-decoration-color: #FF537000;
}
#step-49-code-1[invisible] {
    transform: translateX(calc(var(--scale) * 20));
}
#step-52-code {
    display: inline-block;
    width: calc(var(--scale) * 11.3);
    overflow: hidden;
    margin-bottom: calc(var(--scale) / 12 * -10.5);
}
#step-52-code[invisible] {
    width: 0;
}
#step-51-code {
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-color: #FF537000;
}
#step-51-code[gone] {
    text-decoration-color: #FF5370;
}
#step-51-code[invisible] {
    transform: translate(calc(var(--scale) * 20), calc(var(--scale) * -1.65));
}
#step-49-code-2 {
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-color: #FF5370;
}
#step-51-code[invisible] + #step-49-code-2[invisible]:not([gone]) {
    transform: translate(calc(var(--scale) * 20), calc(var(--scale) * -3.3));
}
#step-51-code[invisible] + #step-49-code-2 {
    transform: translateY(calc(var(--scale) * -3.3));
    text-decoration-color: #FF537000;
}
#step-52:not([invisible]) + #step-49-code #step-49-code-2 {
    text-decoration-color: #FF537000;
}

/* Slide 16 - Step 53-54 - Funktionen Als Werte */
#step-53 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-53[invisible] #step-53 {
    transform: translateY(calc(var(--scale) * 21.4));
}
#step-54 {
    margin-top: calc(var(--scale) * 3.5);
}
#step-54[invisible] {
    transform: translateX(calc(var(--scale) * -10));
}
#step-54-code {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 57.5);
    top: calc(var(--v-padding) + var(--scale) * 35);
    width: calc(var(--scale) * 50);
}
#step-54-code[invisible] {
    transform: translateX(calc(var(--scale) * 20));
}



/* ROLLE IM INTERNET */
/* Slide 17 - Step 55-56 - Leinwand */
#step-55 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-55[invisible] #step-55 {
    transform: translateY(calc(var(--scale) * -10));
}
#step-56-1 {
    margin-top: calc(var(--scale) * 5);
}
#step-56-1[invisible] {
    transform: translateX(calc(var(--scale) * -25));
}
#step-56-2 {
    margin-top: calc(var(--scale) * 1.5);
}
#step-56-2[invisible] {
    transform: translateX(calc(var(--scale) * 25));
}
#step-55-canvas {
    background-color: #0000;
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 55);
    top: calc(var(--v-padding) + var(--scale) * 25);
    height: calc(var(--scale) * 50);
}
#step-55-canvas[invisible] {
    transform: scale(0);
}
#step-55-canvas[gone] {
    transform: translateY(calc(var(--scale) * 12.5));
}
.step-55[gone] #step-55-canvas {
    transform: translateY(calc(var(--scale) * 12.5)) scale(0);
}

/* Slide 18 - Step 57-58 - Video & Audio */
#step-57 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-57[invisible] #step-57 {
    transform: translateY(calc(var(--scale) * -10));
}
.step-57[gone] #step-57 {
    transform: translateX(calc(var(--scale) * -10));
}
#step-58 {
    margin-top: calc(var(--scale) * 3.5);
}
#step-58[invisible] {
    transform: translateX(calc(var(--scale) * -10));
}
#step-57-audio {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 45);
    top: calc(var(--v-padding) + var(--scale) * 35);
    height: calc(var(--scale) * 25);
}
#step-57-video {
    position: fixed;
    right: calc(var(--h-padding) + var(--scale) * 45);
    top: calc(var(--v-padding) + var(--scale) * 35);
    height: calc(var(--scale) * 25);
}
#step-58-audio-code {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 48);
    top: calc(var(--v-padding) + var(--scale) * 62.5);
}
#step-58-audio-code[invisible] {
    transform: translateX(calc(var(--scale) * -20));
}
#step-58-video-code {
    position: fixed;
    right: calc(var(--h-padding) + var(--scale) * 48.5);
    top: calc(var(--v-padding) + var(--scale) * 62.5);
}
#step-58-video-code[invisible] {
    transform: translateX(calc(var(--scale) * 20));
}

/* Slide 19 - Step 59-60 - IFrame */
#step-59 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-59[invisible] #step-59 {
    transform: translateX(calc(var(--scale) * 10));
}
#step-60 {
    margin-top: calc(var(--scale) * 5);
    transition-duration: .5s;
}
#step-60[invisible] {
    transform: translateX(calc(var(--scale) * 20));
}
#step-60[gone] {
    transform: translateY(calc(var(--scale) * -12));
}
#step-60-iframe {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 60);
    top: calc(var(--v-padding) + var(--scale) * 35);
    width: calc(var(--scale) * 40);
}

/* Slide 20 - Step 61-63 - Cookies */
#step-61 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-61[invisible] #step-61 {
    transform: translateY(calc(var(--scale) * 12));
}
.step-61[gone] #step-61 {
    transform: translateX(calc(var(--scale) * -20));
}
#step-62 {
    margin-top: calc(var(--scale) * 6);
    transition-duration: .5s;
}
#step-62[invisible] {
    transform: translateX(calc(var(--scale) * 20));
}
#step-63 {
    margin-top: calc(var(--scale) * 2.5);
    transition-duration: .5s;
}
#step-63[invisible] {
    transform: translateX(calc(var(--scale) * -20));
}
#step-62-cookie {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
#step-62-cookie[invisible] {
    transform: translateX(calc(var(--scale) * -20));
}
#step-63-cookie {
    text-decoration: #0000;
    margin-top: calc(var(--scale) * 2.5);
    transition-duration: .5s;
}
#step-63-cookie[invisible] {
    transform: translateX(calc(var(--scale) * 20));
}

/* Slide 21 - Step 64-65 - Werbung */
#step-64 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-64[invisible] #step-64 {
    transform: translateX(calc(var(--scale) * 20));
}
#step-65-1 {
    margin-top: calc(var(--scale) * 5);
    transition-duration: .5s;
}
#step-65-1[invisible] {
    transform: translateX(calc(var(--scale) * -20));
}
#step-65-2 {
    margin-top: calc(var(--scale) * 1.5);
    transition-duration: .5s;
}
#step-65-2[invisible] {
    transform: translateX(calc(var(--scale) * 20));
}
#step-65-ad {
    position: fixed;
    border-radius: calc(var(--scale) * 5);
    left: calc(var(--h-padding) + var(--scale) * 40);
    top: calc(var(--v-padding) + var(--scale) * 50);
    width: calc(var(--scale) * 80);
}
#step-65-ad[invisible] {
    transform: translateY(calc(var(--scale) * 20)) scale(0);
}
#step-65-ad[gone] {
    transform: translateX(calc(var(--scale) * -20)) scale(0);
}



/* DOM-MANIPULATION UND EREIGNIS-VERARBEITUNG */
/* Slide 22 - Step 66-70 - DOM-Manipulation */
#step-66 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-66[invisible] #step-66 {
    transform: translateY(calc(var(--scale) * -10));
}
.step-66[gone] #step-66 {
    transform: translateY(calc(var(--scale) * -5));
}
#step-67 {
    margin-top: calc(var(--scale) * 2.5);
    transition-duration: .5s;
}
#step-67[invisible] {
    transform: translateX(calc(var(--scale) * 10));
}
.step-66[gone] #step-67 {
    transform: translateY(calc(var(--scale) * -14.6));
}
#step-68 {
    display: inline-block;
    transition-duration: .5s;
}
#step-68[invisible] {
    transform: translateX(calc(var(--scale) * 10));
}
#step-69 {
    display: inline-block;
    transition-duration: .5s;
}
#step-69[invisible] {
    transform: translateX(calc(var(--scale) * 10));
}
#step-70 {
    margin-top: calc(var(--scale) * 2.5);
    display: inline-block;
    transition-duration: .5s;
}
#step-70[invisible] {
    transform: translateX(calc(var(--scale) * 10));
}
.step-66[gone] #step-70 {
    transform: translateY(calc(var(--scale) * -24.3));
}
#step-66-dom-manipulation {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 65);
    top: calc(var(--v-padding) + var(--scale) * 45);
    width: calc(var(--scale) * 30);
    transition-duration: .5s;
}
.step-66[invisible] #step-66-dom-manipulation {
    transform: translateX(calc(var(--scale) * 10));
}
#step-66-dom-manipulation-text {
    position: fixed;
    background-color: #000;
    left: calc(var(--h-padding) + var(--scale) * 71);
    top: calc(var(--v-padding) + var(--scale) * 51.2);
    width: calc(var(--scale) * 25);
    padding-left: calc(var(--scale) * .5);
    transition-duration: .5s;
}
#step-66-dom-manipulation-text[invisible] {
    transform: translateX(calc(var(--scale) * 10));
}
#step-66-dom-manipulation-highlight {
    position: fixed;
    background-color: #8DF4;
    border-radius: var(--scale);
    left: calc(var(--h-padding) + var(--scale) * 67.7);
    top: calc(var(--v-padding) + var(--scale) * 48.2);
    width: calc(var(--scale) * 21.7);
    height: calc(var(--scale) * 9.4);
    transition-duration: .5s;
}
#step-66-dom-manipulation-highlight[invisible] {
    transform: translateX(calc(var(--scale) * 10));
}
#step-66-dom-manipulation-black {
    position: fixed;
    background-color: #000;
    border-radius: var(--scale);
    left: calc(var(--h-padding) + var(--scale) * 67.7);
    top: calc(var(--v-padding) + var(--scale) * 48.2);
    width: calc(var(--scale) * 21.7);
    height: calc(var(--scale) * 9.4);
    transition-duration: .5s;
}
#step-66-dom-manipulation-black[invisible] {
    transform: translateX(calc(var(--scale) * 10));
}
#step-66-dom-manipulation-new {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 65);
    top: calc(var(--v-padding) + var(--scale) * 45);
    width: calc(var(--scale) * 40);
    transition-duration: .5s;
}
#step-66-dom-manipulation-new[invisible] {
    transform: translateX(calc(var(--scale) * 10));
}

/* Slide 23 - Step 71-72 - Tabs Wechseln */
#step-71 {
    margin-top: calc(var(--scale) * 5);
    transition-duration: .5s;
}
.step-71[invisible] #step-71 {
    transform: translateY(calc(var(--scale) * 24.3));
}
.step-71[gone] #step-71 {
    transform: translateX(calc(var(--scale) * 25));
}
#step-72-1 {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
#step-72-1[invisible] {
    transform: translateX(calc(var(--scale) * 20));
}
#step-72-1[gone] {
    transform: translateX(calc(var(--scale) * 15));
}
#step-72-2 {
    margin-top: calc(var(--scale) * 1.5);
    transition-duration: .5s;
}
#step-72-2[invisible] {
    transform: translateX(calc(var(--scale) * -20));
}
#step-72-2[gone] {
    transform: translateX(calc(var(--scale) * 5));
}
#step-71-switching {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 55);
    top: calc(var(--v-padding) + var(--scale) * 35);
    height: calc(var(--scale) * 50);
    transition-duration: 0s;
}
#step-71-switching[gone] {
    opacity: 0;
}
#step-72-switching {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 55);
    top: calc(var(--v-padding) + var(--scale) * 35);
    height: calc(var(--scale) * 50);
    transition-duration: 0s;
}

/* Slide 24 - Step 73-74 - Aktivieren */
#step-73 {
    margin-top: calc(var(--scale) * 5);
    transition-duration: .5s;
}
.step-73[invisible] #step-73 {
    transform: translateX(calc(var(--scale) * -25));
}
.step-73[gone] #step-73 {
    transform: translateY(calc(var(--scale) * 10));
}
#step-74 {
    margin-top: calc(var(--scale) * 5);
    transition-duration: .5s;
}
#step-74[invisible] {
    transform: translateX(calc(var(--scale) * 15));
}
#step-74[gone] {
    transform: translateY(calc(var(--scale) * 10));
}
#step-73-checkbox {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 55);
    top: calc(var(--v-padding) + var(--scale) * 35);
    width: calc(var(--scale) * 50);
}
#step-74-checkbox {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 55);
    top: calc(var(--v-padding) + var(--scale) * 35);
    width: calc(var(--scale) * 50);
}
#step-73-button {
    background-image: linear-gradient(to bottom, #4D5 0%, #9FB 100%);
    border-radius: calc(var(--scale) * 100.5);
    color: #000;
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 62.5);
    top: calc(var(--v-padding) + var(--scale) * 50);
    width: calc(var(--scale) * 35);
    padding: calc(var(--scale) * .5);
    font-size: calc(var(--scale) * 3.5);
    font-weight: 400;
    transition-duration: .5s;
}
#step-73-button div {
    background-image: radial-gradient(ellipse at 25% -50%, #BFD 0%, #8FA 49%, #4D5 51%, #6E7 100%);
    background-size: 200% 100%;
    padding: calc(var(--scale) * 1);
    border-radius: calc(var(--scale) * 100);
}
#step-73-button[invisible] {
    transform: translateX(calc(var(--scale) * 15));
}
#step-73-button:not([gone]) {
    filter: saturate(0);
}

/* Slide 25 - Step 75-76 - Farbschema */
#step-75-background {
    background: #FFF;
    position: fixed;
    z-index: -1;
    left: calc(var(--h-padding) + var(--scale) * 15);
    top: calc(var(--v-padding) + var(--scale) * 15);
    width: calc(var(--scale) * 130);
    height: calc(var(--scale) * 60);
    box-shadow: 0 0 calc(var(--scale) * 5) calc(var(--scale) * 10) #FFF;
}
#step-75 {
    margin-top: calc(var(--scale) * 15);
    transition-duration: .5s;
}
.step-75[invisible] #step-75 {
    transform: translateY(calc(var(--scale) * -10));
}
.step-75[gone] #step-75 {
    transform: translateY(calc(var(--scale) * -5));
}
#step-75-background:not([invisible]) + #step-75 {
    color: #000;
}
#step-76 {
    color: #000;
    margin-top: calc(var(--scale) * 2);
    transition-duration: .5s;
}
#step-76[invisible] {
    color: #FFF;
    transform: translateX(calc(var(--scale) * -20));
}
.step-75[gone] #step-76 {
    transform: translateY(calc(var(--scale) * -14.2));
}
#step-75-color-theme {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 60);
    top: calc(var(--v-padding) + var(--scale) * 35);
    width: calc(var(--scale) * 40);
}
#step-75-color-theme[gone] {
    transform: rotate(180deg);
}
#step-76-color-theme {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 60);
    top: calc(var(--v-padding) + var(--scale) * 35);
    width: calc(var(--scale) * 40);
}
#step-76-color-theme[invisible] {
    transform: rotate(-180deg);
}
#step-76-color-theme[gone] {
    transform: rotate(180deg);
}

/* Slide 26 - Step 77-78 - Dynamisches Laden */
#step-77 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-77[invisible] #step-77 {
    transform: translateY(calc(var(--scale) * 14.2));
}
#step-78-1 {
    margin-top: calc(var(--scale) * .5);
    transition-duration: .5s;
}
#step-78-1[invisible] {
    transform: translateX(calc(var(--scale) * -20));
}
.step-77[gone] #step-78-1 {
    transform: translateY(calc(var(--scale) * -7.6));
}
#step-78-2 {
    margin-top: calc(var(--scale) * .5);
    transition-duration: .5s;
}
#step-78-2[invisible] {
    transform: translateX(calc(var(--scale) * -20));
}
.step-77[gone] #step-78-2 {
    transform: translateY(calc(var(--scale) * -15.2));
}
#step-78-tiktok {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 72.5);
    top: calc(var(--v-padding) + var(--scale) * 35);
    width: calc(var(--scale) * 15);
}



/* JAVASCRIPT-ENGINES UND DIE WICHTIGKEIT VON BROWSER-KOMPATIBILITÄT */
/* Slide 27 - Step 79-83 - JS-Engines */
#step-79 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-79[invisible] #step-79 {
    transform: translateY(calc(var(--scale) * 15.2));
}
#step-80 {
    margin-top: calc(var(--scale) * 6.5);
    transition-duration: .5s;
}
#step-80[invisible] {
    transform: translateX(calc(var(--scale) * 25));
}
.step-79[gone] #step-80 {
    transform: translateY(calc(var(--scale) * -3));
}
#step-81 {
    margin-top: calc(var(--scale) * 1.5);
    transition-duration: .5s;
}
#step-81[invisible] {
    transform: translateX(calc(var(--scale) * -25));
}
.step-79[gone] #step-81 {
    transform: translateY(calc(var(--scale) * -11.7));
}
#step-82 {
    margin-top: calc(var(--scale) * 1.5);
    transition-duration: .5s;
}
#step-82[invisible] {
    transform: translateX(calc(var(--scale) * 25));
}
.step-79[gone] #step-82 {
    transform: translateY(calc(var(--scale) * -20.4));
}
#step-83-1 {
    margin-top: calc(var(--scale) * 6.5);
    transition-duration: .5s;
}
#step-83-1[invisible] {
    transform: translateX(calc(var(--scale) * -25));
}
.step-79[gone] #step-83-1 {
    transform: translateY(calc(var(--scale) * -34.1));
}
#step-83-2 {
    margin-top: calc(var(--scale) * 1.5);
    transition-duration: .5s;
}
#step-83-2[invisible] {
    transform: translateX(calc(var(--scale) * 25));
}
.step-79[gone] #step-83-2 {
    transform: translateY(calc(var(--scale) * -42.8));
}

/* Slide 28 - Step 84-87 - Browser-Kompatibilität */
.step-84[gone] h1 {
    transform: translateY(calc(var(--scale) * 10));
}
#step-84-1 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
#step-84-2 {
    margin-top: calc(var(--scale) * 1.5);
    transition-duration: .5s;
}
.step-84[invisible] #step-84-2 {
    transform: translateY(calc(var(--scale) * 42.8));
}
#step-85 {
    margin-top: calc(var(--scale) * 5);
    transition-duration: .5s;
}
#step-85[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
#step-86-1 {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
#step-86-1[invisible] {
    transform: translateX(calc(var(--scale) * 25));
}
#step-86-2 {
    margin-top: calc(var(--scale) * 1.5);
    transition-duration: .5s;
}
#step-86-2[invisible] {
    transform: translateX(calc(var(--scale) * -25));
}
#step-87-1 {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
#step-87-1[invisible] {
    transform: translateX(calc(var(--scale) * 15));
}
#step-87-2 {
    margin-top: calc(var(--scale) * 1.5);
    transition-duration: .5s;
}
#step-87-2[invisible] {
    transform: translateX(calc(var(--scale) * -15));
}

/* Slide 29 - Step 88-90 - Mobile Geräte */
#step-88 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-88[invisible] #step-88 {
    transform: translateY(calc(var(--scale) * -10));
}
.step-88[gone] #step-88 {
    transform: translateY(calc(var(--scale) * 10));
}
#step-89 {
    margin-top: calc(var(--scale) * 5);
    transition-duration: .5s;
}
#step-89[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-88[gone] #step-89 {
    transform: translateY(calc(var(--scale) * 8));
}
#step-90-1 {
    margin-top: calc(var(--scale) * 8);
    transition-duration: .5s;
}
#step-90-1[invisible] {
    transform: translateX(calc(var(--scale) * -20));
}
.step-88[gone] #step-90-1 {
    transform: translateY(calc(var(--scale) * 5));
}
#step-90-2 {
    margin-top: calc(var(--scale) * 2.5);
    transition-duration: .5s;
}
#step-90-2[invisible] {
    transform: translateX(calc(var(--scale) * 20));
}
.step-88[gone] #step-90-2 {
    transform: translateY(calc(var(--scale) * 3));
}



/* DAS ÖKOSYSTEM: FRAMEWORKS UND BIBLIOTHEKEN */
/* Slide 30 - Step 91-93 - Frameworks & Bibliotheken */
#step-91 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-91[invisible] #step-91 {
    transform: translateY(calc(var(--scale) * -10));
}
.step-91[gone] #step-91 {
    transform: translateX(calc(var(--scale) * 18));
}
#step-92 {
    margin-top: calc(var(--scale) * 8);
    transition-duration: .5s;
}
#step-92[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-91[gone] #step-92 {
    transform: translate(calc(var(--scale) * -20), calc(var(--scale) * -6.5));
}
#step-93 {
    margin-top: calc(var(--scale) * 5);
    transition-duration: .5s;
}
#step-93[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-91[gone] #step-93 {
    transform: translate(calc(var(--scale) * -20), calc(var(--scale) * -10));
}


/* GRAFISCHE UND SERVERSEITIGE ANWENDUNGEN */
/* Slide 31 - Step 94-98 - Electron */
#step-94-1 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-94[invisible] #step-94-1 {
    transform: translateX(calc(var(--scale) * -20));
}
.step-94[gone] #step-94-1 {
    transform: translateX(calc(var(--scale) * 15));
}
#step-94-2 {
    margin-top: calc(var(--scale) * 1.5);
    transition-duration: .5s;
}
.step-94[invisible] #step-94-2 {
    transform: translate(calc(var(--scale) * 20), calc(var(--scale) * 6.5));
}
.step-94[gone] #step-94-2 {
    transform: translateX(calc(var(--scale) * -15));
}
#step-95 {
    margin-top: calc(var(--scale) * 5);
    transition-duration: .5s;
}
#step-95[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-94[gone] #step-95 {
    transform: translateX(calc(var(--scale) * 10));
}
#step-96 {
    margin-top: calc(var(--scale) * 1.5);
    transition-duration: .5s;
}
#step-96[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-94[gone] #step-96 {
    transform: translateX(calc(var(--scale) * -10));
}
#step-97 {
    margin-top: calc(var(--scale) * 12.5);
    transition-duration: .5s;
}
#step-97[invisible] {
    transform: translateY(calc(var(--scale) * -10));
}
.step-94[gone] #step-97 {
    transform: translateX(calc(var(--scale) * 5));
}
#step-98 {
    margin-top: calc(var(--scale) * 1.5);
    transition-duration: .5s;
}
#step-98[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-94[gone] #step-98 {
    transform: translateX(calc(var(--scale) * -5));
}

/* Slide 32 - Step 99-101 - Node.js */
#step-99-1 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-99[invisible] #step-99-1 {
    transform: translateX(calc(var(--scale) * -15));
}
.step-99[gone] #step-99-1 {
    transform: translateY(calc(var(--scale) * -8));
}
#step-99-2 {
    margin-top: calc(var(--scale) * 1.5);
    transition-duration: .5s;
}
.step-99[invisible] #step-99-2 {
    transform: translateX(calc(var(--scale) * 15));
}
.step-99[gone] #step-99-2 {
    transform: translateY(calc(var(--scale) * -14.6));
}
#step-100 {
    margin-top: calc(var(--scale) * 6);
    transition-duration: .5s;
}
#step-100[invisible] {
    transform: translateX(calc(var(--scale) * -15));
}
.step-99[gone] #step-100 {
    transform: translateY(calc(var(--scale) * -25.8));
}
#step-99-node {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 60);
    top: calc(var(--v-padding) + var(--scale) * 36);
    width: calc(var(--scale) * 40);
    transition-duration: .5s;
}
.step-99[invisible] #step-99-node {
    transform: translateX(calc(var(--scale) * 10));
}
#step-100:not([invisible]) + #step-99-node {
    transform: translate(calc(var(--scale) * 0), calc(var(--scale) * 10));
    opacity: 0;
}
#step-101 {
    margin-top: calc(var(--scale) * 2.5);
    transition-duration: .5s;
}
#step-101[invisible] {
    transform: translateX(calc(var(--scale) * 15));
}
.step-99[gone] #step-101 {
    transform: translateY(calc(var(--scale) * -33.5));
}

/* Slide 33 - Step 102-105 - npm */
#step-102 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-102[invisible] #step-102 {
    transform: translateY(calc(var(--scale) * 44));
}
.step-102[gone] #step-102 {
    transform: translateY(calc(var(--scale) * 12.5));
}
#step-103 {
    margin-top: calc(var(--scale) * 2.5);
    transition-duration: .5s;
}
#step-103[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-102[gone] #step-103 {
    transform: translateY(calc(var(--scale) * 15));
}
#step-104 {
    margin-top: calc(var(--scale) * 5);
    transition-duration: .5s;
}
#step-104[invisible] {
    transform: translateX(calc(var(--scale) * 15));
}
.step-102[gone] #step-104 {
    transform: translateY(calc(var(--scale) * 17.5));
}
#step-105-1 {
    margin-top: calc(var(--scale) * 2.5);
    transition-duration: .5s;
}
#step-105-1[invisible] {
    transform: translateX(calc(var(--scale) * -15));
}
.step-102[gone] #step-105-1 {
    transform: translateY(calc(var(--scale) * 20));
}
#step-105-2 {
    margin-top: calc(var(--scale) * 2.5);
    transition-duration: .5s;
}
#step-105-2[invisible] {
    transform: translateX(calc(var(--scale) * 15));
}
.step-102[gone] #step-105-2 {
    transform: translateY(calc(var(--scale) * 22.5));
}

/* Slide 34 - Step 106-110 - Bun */
#step-106 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-106[invisible] #step-106 {
    transform: translateY(calc(var(--scale) * -10));
}
.step-106[gone] #step-106 {
    transform: translateY(calc(var(--scale) * 10));
}
#step-107 {
    margin-top: calc(var(--scale) * 2.5);
    transition-duration: .5s;
}
#step-107[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-106[gone] #step-107 {
    transform: translateY(calc(var(--scale) * 8));
}
#step-106-bun {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 60);
    top: calc(var(--v-padding) + var(--scale) * 35);
    width: calc(var(--scale) * 40);
    transition-duration: .5s;
}
.step-106[invisible] #step-106-bun {
    transform: translateY(calc(var(--scale) * -17.5));
}
#step-107[gone] + #step-106-bun {
    transform: translateY(calc(var(--scale) * -10));
    opacity: 0;
}
#step-108 {
    margin-top: calc(var(--scale) * 2.5);
    transition-duration: .5s;
}
#step-108[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-106[gone] #step-108 {
    transform: translateY(calc(var(--scale) * 6));
}
#step-109 {
    margin-top: calc(var(--scale) * 8);
    transition-duration: .5s;
}
#step-109[invisible] {
    transform: translateX(calc(var(--scale) * 15));
}
.step-106[gone] #step-109 {
    transform: translateY(calc(var(--scale) * 3));
}
#step-110 {
    margin-top: calc(var(--scale) * 2.5);
    transition-duration: .5s;
}
#step-110[invisible] {
    transform: translateX(calc(var(--scale) * -15));
}
.step-106[gone] #step-110 {
    transform: translateY(calc(var(--scale) * 1));
}



/* EIGENE MEINUNG */
/* Slide 35 - Step 111-113 - Eigene Meinung - Einführung */
#step-111 {
    margin-top: calc(var(--scale) * 10);
    transition-duration: .5s;
}
.step-111[invisible] #step-111 {
    transform: scale(0);
}
#step-112 {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
#step-112[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
#step-113 {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
#step-113[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-111[gone] #step-113 {
    transform: translateY(calc(var(--scale) * -10.8));
}

/* Slide 36 - Step 114-116 - Eigene Meinung - Electron */
#step-114-1 {
    margin-top: calc(var(--scale) * 10);
}
#step-114-2 {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
.step-114[invisible] #step-114-2 {
    transform: translateY(calc(var(--scale) * 10.8));
}
#step-115 {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
#step-115[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-114[gone] #step-115 {
    transform: translateY(calc(var(--scale) * -10.8));
}
#step-116 {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
#step-116[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-114[gone] #step-116 {
    transform: translateY(calc(var(--scale) * -21.6));
}

/* Slide 37 - Step 117-118 - Eigene Meinung - Frameworks & Bibliotheken */
#step-117-1 {
    margin-top: calc(var(--scale) * 10);
}
#step-117-2 {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
.step-117[invisible] #step-117-2 {
    transform: translateY(calc(var(--scale) * 21.6));
}
#step-118 {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
#step-118[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-117[gone] #step-118 {
    transform: translateY(calc(var(--scale) * -10.8));
}

/* Slide 38 - Step 119-121 - Eigene Meinung - Zusammenfassung */
#step-119-1 {
    margin-top: calc(var(--scale) * 10);
}
.step-119[gone] #step-119-1 {
    transform: translateY(calc(var(--scale) * -2));
    transition-duration: .5s;
}
#step-119-2 {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
.step-119[invisible] #step-119-2 {
    transform: translateY(calc(var(--scale) * 10.8));
}
.step-119[gone] #step-119-2 {
    transform: translateY(calc(var(--scale) * -3));
}
#step-120 {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
.step-121[invisible] + #step-120[invisible] {
    transform: translate(calc(var(--scale) * 5.4), calc(var(--scale) * 10));
}
.step-121[invisible] + #step-120 {
    transform: translateX(calc(var(--scale) * 5.4));
}
.step-119[gone] #step-120 {
    transform: translateY(calc(var(--scale) * 3));
}
#step-121 {
    margin-top: calc(var(--scale) * 3.5);
    transition-duration: .5s;
}
#step-121[invisible] {
    transform: translateY(calc(var(--scale) * 10));
}
.step-119[gone] #step-121 {
    transform: translateY(calc(var(--scale) * 2));
}



/* ENDE */
/* Slide 39 - Step 122-124 - Danke Für Ihre Aufmerksamkeit */
#step-122-title {
    position: fixed;
    left: var(--h-padding);
    top: var(--v-padding);
    width: calc(var(--scale) * 160);
    height: calc(var(--scale) * 60);
    transition-duration: .5s;
}
.step-122[invisible] #step-122-title {
    transform: scale(0);
}
#step-122-background {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 30);
    top: calc(var(--v-padding) + var(--scale) * 0);
    width: calc(var(--scale) * 100);
    height: calc(var(--scale) * 60);
    z-index: -1;
    transition-duration: 10s;
}
.step-122[invisible] #step-122-background {
    transition-duration: 0s;
    opacity: 0;
}
#step-122-1 {
    margin-top: calc(var(--scale) * 20.4);
    font-size: calc(var(--scale) * 8);
}
#step-122-2 {
    font-size: calc(var(--scale) * 8);
}
#step-122-sources {
    background: linear-gradient(#FFF0 0%, #FFF 1.5%, #FFF 3.5%, #FFF0 5%);
    background-clip: text;
    -webkit-text-fill-color: #0000;
    position: fixed;
    left: var(--h-padding);
    top:  calc(var(--v-padding) + var(--scale) * 42.5);
    width: calc(var(--scale) * 160);
    height: calc(var(--scale) * 855);
    padding-top:  calc(var(--scale) * 45);
    transition-duration: .5s;
}
.step-123:not([invisible]) + #step-122-sources {
    opacity: 0;
}
.step-122:not([invisible]) #step-122-sources {
    animation: scrollSources 45s linear /*infinite*/;
}
@keyframes scrollSources {
    0% {
        background-position-y: calc(var(--scale) * 0);
        transform: translateY(calc(var(--scale) * 0));
    }
    100% {
        background-position-y: calc(var(--scale) * 420);
        transform: translateY(calc(var(--scale) * -420));
    }
}
.source {
    padding: 0 calc(var(--scale) * 15) calc(var(--scale) * 2) calc(var(--scale) * 15);
    text-align: left;
}
.source-date {
    text-align: right;
    margin-top: calc(var(--scale) * -3.6);
}
#step-124-qrcode {
    border-radius: calc(var(--scale) * 1.25);
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 65);
    top: calc(var(--v-padding) + var(--scale) * 50);
    width: calc(var(--scale) * 30);
    height: calc(var(--scale) * 30);
    image-rendering: pixelated;
    opacity: .8;
}
#step-124-qrcode[invisible] {
    transform: scale(.5);
    opacity: 0;
}




/* OTHER */

/* Live Sources */
#live-sources {
    position: fixed;
    left: var(--h-padding);
    bottom: var(--v-padding);
    width: calc(var(--scale) * 158);
    height: calc(var(--scale) * 4.5);
    padding: calc(var(--scale) * 1);
    text-align: left;
    font-size: 0;
    font-weight: 300;
    z-index: 1;
    transition-duration: .5s;
}
#live-sources a {
    display: inline-block;
    font-size: calc(var(--scale) * 4);
}
#live-sources-title {
    transition-duration: .5s;
}
#live-sources:not(:has(.live-source:not([invisible], [gone]))) #live-sources-title {
    opacity: .5;
}
#live-sources:is([invisible], [gone]) #live-sources-title {
    transform: scale(.4);
    opacity: 0 !important;
}
.live-source {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale) * 13);
    bottom: var(--v-padding);
    height: calc(var(--scale) * 4.5);
    padding: calc(var(--scale) * 1);
    transition-duration: .5s;
}
.live-source[invisible] {
    transform: translateX(calc(var(--scale) * 2)) scale(.25);
    opacity: 0;
}
.live-source[gone] {
    transform: translateX(calc(var(--scale) * -2)) scale(.25);
    opacity: 0;
}

/* Mobile Controls */
@media (pointer: fine) {
    #mobile-controls {
        display: none;
    }
}
#mobile-controls-next, #mobile-controls-previous {
    background: #000;
    color: #FFF;
    border: calc(var(--scale) * .5) solid #FFF;
    position: fixed;
    right: var(--h-padding);
    top: calc(50vh - var(--scale) * 5);
    width: calc(var(--scale) * 9.5);
    height: calc(var(--scale) * 10);
    padding: 0;
    font-size: calc(var(--scale) * 5);
    transition-duration: .5s;
}
#mobile-controls-next:focus-visible, #mobile-controls-previous:focus-visible {
    outline: none;
}
#mobile-controls-next {
    border-right-width: 0;
    border-radius: calc(var(--scale) * 2) 0 0 calc(var(--scale) * 2);
    right: var(--h-padding);
}
#mobile-controls-previous {
    border-left-width: 0;
    border-radius: 0 calc(var(--scale) * 2) calc(var(--scale) * 2) 0;
    left: var(--h-padding);
}

/* Time Info */
#time-info {
    position: fixed;
    left: calc(var(--h-padding) + var(--scale));
    bottom: calc(var(--v-padding) + var(--scale));
    font-size: calc(var(--scale) * 3);
    font-weight: 200;
    color: #FFF;
    text-align: left;
}
